#redesocial{
margin-left: 120px;
width: 635px;
}

#redesocial	#icon{
float: right;
}

#paragrafo{
margin-top: 20px;
margin-left: 80px;
margin-right: 200px;
width: 1000px;
height: 300px;
}

#conteudoparagrafo{
text-align: center;
}

#direitos{
text-align: center;
}

#variavel img{
	max-width: 30px; max-height: 30px; width: auto; height:auto;
}
